@page "/"

@using AdminShell
@using System
@using System.Net;
@using System.Drawing;

@implements IDisposable

@inject VisualTreeBuilderService _treeBuilder
@inject CarbonDataService _dataSource
@inject AASXPackageService _packageService

<div class="col-12 row">
    <br />
    <div class="col-8" style="border-style:solid;border-color:blue;border-radius:8px;word-wrap:break-word;word-break:break-all;position:sticky">

        @UpdateVisibleTree(SelectedNode)

        <TreeNode Nodes="Nodes" ChildSelector="@(item => item.Children)" @bind-SelectedNode="SelectedNode" @bind-ExpandedNodes="ExpandedNodes" HasChildNodes="@(item => item.Children?.Any() == true)">
            <TitleTemplate>
                <span style="color:white;background-color:blue;">@ViewNodeType(context)</span>
                @ViewNodeID(context)
                @ViewNodeInfo(context)
            </TitleTemplate>
        </TreeNode>
    </div>
    <div class="col-4" style="border-style:solid;border-color:blue;border-radius:8px;position:sticky">
        <div class="sticky-top" style="word-wrap:break-word;word-break:break-all;">
            @{
                <span style="color:white;background-color:blue;">@ViewNodeType(SelectedNode)</span> @ViewNodeID(SelectedNode)<br>
                for (int line = 0; line < 6; line++)
                {
                    string nodeDetails0 = ViewNodeDetails(SelectedNode, line, 0);
                    string nodeDetails1 = ViewNodeDetails(SelectedNode, line, 1);
                    if (nodeDetails0 != string.Empty && nodeDetails1 != string.Empty)
                    {
                        <span style="color:white;background-color:blue;">@nodeDetails0</span> @nodeDetails1<br>
                    }
                }
                if (SelectedNode != null && SelectedNode.Tag is Referable r)
                {
                    <span style="color:lightgray;">UPDATE @r.TimeStamp.ToString("yy-MM-dd HH:mm:ss.fff")</span><br />
                    <button style="background-color:lightgray" @onclick="setTimeStamp">TIMESTAMP</button><br />
                    <span style="color:lightgray;">CREATE @r.TimeStampCreate.ToString("yy-MM-dd HH:mm:ss.fff")</span><br />
                    @code{
                        private void setTimeStamp()
                        {
                            (SelectedNode.Tag as Referable).setTimeStamp(DateTime.UtcNow);
                        }
                    }
                }

                bool externalLink = false;
                string link = getLink(SelectedNode, out externalLink);
                if (SelectedNode != null && link != string.Empty)
                {
                    <a href="@link" target="_blank">@link</a><br>
                }
                if (SelectedNode != null && SelectedNode.Tag is Property)
                {
                    <input @bind="CurrentValue" /> <span style="color:white;background-color:blue;">@CurrentValue</span><br>
                    @code { private string CurrentValue { get; set; } }
                    if (CurrentValue != null && CurrentValue != string.Empty)
                    {
                        if (SelectedNode.Tag is Property)
                        {
                            (SelectedNode.Tag as Property).Value = CurrentValue;
                            (SelectedNode.Tag as Property).setTimeStamp(DateTime.UtcNow);
                            this.StateHasChanged();
                        }
                        CurrentValue = string.Empty;
                    }
                }
                if (SelectedNode != null && (SelectedNode.Tag is AssetAdministrationShell || SelectedNode.Tag is File))
                {
                    string detailsImage = createDetailsImage(SelectedNode);
                    if (detailsImage != string.Empty)
                    {
                        <br />
                        <div>
                            <img src=data:image;base64,@detailsImage style="max-width: 100%;" alt="Details Image" />
                        </div>
                    }
                }
            }
        </div>
    </div>
</div>

@code {

    public class TreeNodeData
    {
        public string Text { get; set; }

        public IEnumerable<TreeNodeData> Children { get; set; }

        public object Parent { get; set; }

        public string Type { get; set; }

        public object Tag { get; set; }

        public string EnvKey { get; set; }
    }

    List<TreeNodeData> Nodes = null;

    IList<TreeNodeData> ExpandedNodes = new List<TreeNodeData>();

    TreeNodeData SelectedNode { get; set; }

    protected override void OnInitialized()
    {
        VisualTreeBuilderService.NewDataAvailable += NewData;
    }

    public void Dispose()
    {
        VisualTreeBuilderService.NewDataAvailable -= NewData;
    }

    VisualTreeBuilderService.TreeUpdateMode CurrentTreeUpdateMode = VisualTreeBuilderService.TreeUpdateMode.RebuildAndCollapse;

    private void NewData(object source, EventArgs args)
    {
        if (CurrentTreeUpdateMode == VisualTreeBuilderService.TreeUpdateMode.ValuesOnly)
        {
            CurrentTreeUpdateMode = (VisualTreeBuilderService.TreeUpdateMode)source;
            InvokeAsync(() => this.StateHasChanged());
        }
    }

    string UpdateVisibleTree(TreeNodeData selectedNode)
    {
        if (CurrentTreeUpdateMode == VisualTreeBuilderService.TreeUpdateMode.ValuesOnly)
        {
            return string.Empty;
        }

        Nodes = _treeBuilder.BuildTree();

        if (CurrentTreeUpdateMode == VisualTreeBuilderService.TreeUpdateMode.RebuildAndCollapse)
        {
            ExpandedNodes.Clear();
            selectedNode = null;
        }

        CurrentTreeUpdateMode = 0;
        SelectedNode = selectedNode;

        return string.Empty;
    }

    void updateNode(TreeNodeData i)
    {
        var clist = i.Children as List<TreeNodeData>;
        List<string> listIdshort = new List<string>();
        bool done = false;
        if (!done && i.Tag is Submodel sm)
        {
            foreach (var smew1 in sm.SubmodelElements)
            {
                listIdshort.Add(smew1.SubmodelElement.IdShort);
            }
            done = true;
        }
        if (!done && i.Tag is SubmodelElementCollection smec)
        {
            foreach (var smew2 in smec.Value)
            {
                listIdshort.Add(smew2.SubmodelElement.IdShort);
            }
            done = true;
        }
        if (!done && i.Tag is SubmodelElement sme)
        {
            listIdshort.Add(sme.IdShort);
            done = true;
        }
        // check if child name exists in data children idshorts, if not delete
        if (done)
        {
            List<TreeNodeData> toDelete = new List<TreeNodeData>();
            if (clist != null)
            {
                foreach (var c in clist)
                {
                    if (!listIdshort.Contains(c.Text))
                    {
                        toDelete.Add(c);
                    }
                }
            }
            else
            {
                if (!listIdshort.Contains(i.Text))
                {
                    toDelete.Add(i);
                }
            }
            foreach (var c in toDelete)
            {
                var parent = c.Parent as TreeNodeData;
                if (parent != null)
                {
                    (parent.Children as List<TreeNodeData>).Remove(c);
                }
            }
        }
        // check if data children idshorts exist in child names, if not insert
        if (clist != null)
        {
            foreach (var c in clist)
            {
                updateNode(c);
            }
        }
    }

    string createDetailsImage(TreeNodeData item)
    {
        if (item == null)
        {
            return string.Empty;
        }

        object o = item.Tag;

        if (o is AssetAdministrationShell)
        {
            var aas = o as AssetAdministrationShell;
            System.IO.Stream s = null;
            try
            {
                s = _packageService.GetLocalThumbnailStream(item.EnvKey);
            }
            catch { }
            if (s != null)
            {
                using (var m = new System.IO.MemoryStream())
                {
                    s.CopyTo(m);
                    return System.Convert.ToBase64String(m.ToArray());
                }
            }
        }

        if (o is File)
        {
            var f = o as File;
            // Test for /aasx/
            string[] split = f.Value.Split(new Char[] { '/' });
            if (split[1].ToLower() == "aasx")
            {
                split = f.Value.Split(new Char[] { '.' });
                switch(split.Last().ToLower())
                {
                    case "jpg":
                    case "bmp":
                    case "png":
                        var s = _packages[item.EnvKey].GetLocalStreamFromPackage(f.Value);
                        if (s != null)
                        {
                            using (var m = new System.IO.MemoryStream())
                            {
                                s.CopyTo(m);
                                return System.Convert.ToBase64String(m.ToArray());
                            }
                        }
                        break;
                }
            }
        }

        return string.Empty;
    }

    bool hasDownloadFile(TreeNodeData item)
    {
        if (item == null)
        {
            return false;
        }

        object o = item.Tag;

        if (o is File)
        {

            var f = o as File;

            // Test for /aasx/
            string[] split = f.Value.Split(new Char[] { '/' });
            if (split[1].ToLower() == "aasx")
            {
                return true;
            }
        }

        return false;
    }

    string getLink(TreeNodeData item, out bool external)
    {
        external = false;

        if (item == null)
        {
            return string.Empty;
        }

        object o = item.Tag;
        if (o is AssetAdministrationShell)
        {
            return "/server/getaasx/" + Convert.ToString(SelectedNode.EnvKey);
        }

        if (o is File || o is Property)
        {
            string value = string.Empty;

            if (o is File)
            {
                value = (o as File).Value;
            }

            if (o is Property)
            {
                value = (o as Property).Value;
            }

            string[] split = value.Split(new Char[] { ':' });
            if (split[0].ToLower() == "http" || split[0].ToLower() == "https")
            {
                external = true;
                return value;
            }

            // Test for /aasx/
            split = value.Split(new Char[] { '/' });
            if (split.Length > 1)
            {
                if (split[1].ToLower() == "aasx")
                {
                    return "/server/getfile/" + item.EnvKey.ToString() + value;
                }
            }
        }

        return string.Empty;
    }

    string ViewNodeType(TreeNodeData item)
    {
        if (item == null)
        {
            return string.Empty;
        }

        string ret = string.Empty;

        if (item.Type != null)
        {
            ret = item.Type + " ";
        }

        object o = item.Tag;

        if (o is AssetAdministrationShell)
        {
            ret += "AAS";
        }
        if (o is Submodel)
        {
            ret += "Sub";
        }
        if (o is SubmodelElement)
        {
            if (o is SubmodelElementCollection)
            {
                ret += "Coll";
            }
            if (o is Property)
            {
                ret += "Prop";
            }
        }
        if (o is Operation)
        {
            ret += "Opr";
        }
        if (o is File)
        {
            ret += "File";
        }
        if (o is Blob)
        {
            ret += "Blob";
        }
        if (o is MultiLanguageProperty)
        {
            ret += "Lang";
        }
        if (o is RelationshipElement)
        {
            ret += "Rel";
        }
        if (o is ReferenceElement)
        {
            ret += "Ref";
        }
        if (o is Entity)
        {
            ret += "Ent";
        }

        return (ret);
    }

    string ViewTimeStamp(TreeNodeData item)
    {
        if (item == null)
        {
            return string.Empty;
        }

        string ret = string.Empty;

        object o = item.Tag;

        if (o is Referable r)
            // ret += " (" + r.TimeStamp.Ticks + ") ";
            ret += " (" + r.TimeStamp.ToString("yy-MM-dd HH:mm:ss.fff") + ") ";

        return ret;
    }

    string ViewNodeID(TreeNodeData item)
    {
        if (item == null)
        {
            return string.Empty;
        }

        string ret = "NULL";

        object o = item.Tag;

        if (o is AssetAdministrationShell)
        {
            var aas = o as AssetAdministrationShell;
            ret = aas.IdShort;
        }

        if (o is Submodel)
        {
            var sm = o as Submodel;
            ret = string.Empty;
            ret += sm.IdShort;
        }

        if (o is SubmodelElement)
        {
            var sme = o as SubmodelElement;
            ret = string.Empty;
            ret += sme.IdShort;
        }

        if (o is File)
        {
            var f = o as File;
            ret = string.Empty;
            ret += f.IdShort;
        }
        if (o is Blob)
        {
            var b = o as Blob;
            ret = string.Empty;
            ret += b.IdShort;
        }
        if (o is MultiLanguageProperty)
        {
            var mlp = o as MultiLanguageProperty;
            ret = string.Empty;
            ret += mlp.IdShort;
        }
        return (ret);
    }

    string ViewNodeInfo(TreeNodeData item)
    {
        if (item == null)
        {
            return string.Empty;
        }

        string ret = string.Empty;

        object o = item.Tag;

        if (o is AssetAdministrationShell)
        {
            var aas = o as AssetAdministrationShell;
        }
        if (o is Submodel)
        {
            var sm = o as Submodel;
            if (sm.Qualifiers != null && sm.Qualifiers.Count > 0)
            {
                ret += " @QUALIFIERS";
            }
        }
        if (o is SubmodelElementCollection)
        {
            var sme = o as SubmodelElementCollection;
            if (sme.Value.Count > 0)
            {
                ret += " #" + sme.Value.Count;
            }
        }
        if (o is SubmodelElement)
        {
            if (o is Property)
            {
                var prop = o as Property;
                if (prop.Value != string.Empty)
                {
                    ret = " = " + prop.Value;
                }
                if (prop.Qualifiers != null && prop.Qualifiers.Count > 0)
                {
                    ret += " @QUALIFIERS";
                }
            }
            if (o is File)
            {
                var f = o as File;
                ret = " = " + f.Value;
                if (f.Qualifiers != null && f.Qualifiers.Count > 0)
                {
                    ret += " @QUALIFIERS";
                }
            }
        }
        if (o is MultiLanguageProperty)
        {
            var mlp = o as MultiLanguageProperty;
            var ls = mlp.Value;
            ret = " = ";
            for (int i = 0; i < ls.Count; i++)
            {
                ret += ls[i].Language + " ";
            }
            if (mlp.Qualifiers != null && mlp.Qualifiers.Count > 0)
            {
                ret += " @QUALIFIERS";
            }
        }
        return (ret);
    }

    string ViewNodeDetails(TreeNodeData item, int line, int col)
    {
        if (item == null)
        {
            return string.Empty;
        }

        string ret = "NULL";

        object tag = item.Tag;

        if (tag == null)
        {
            return string.Empty;
        }

        if (tag is AssetAdministrationShell)
        {
            ret = string.Empty;
            var aas = tag as AssetAdministrationShell;

            var asset = _packageService.Packages[item.EnvKey].FindAAS(aas.Id);

            switch (line)
            {
                case 0:
                    ret = "ID";
                    if (col == 1)
                        ret = aas.Id + string.Empty;
                    break;
                case 1:
                    if (asset != null)
                    {
                        ret = "ASSET";
                        if (col == 1)
                            ret = asset.IdShort;
                    }
                    break;
                case 2:
                    if (asset != null)
                    {
                        ret = "ASSETID";
                        if (col == 1)
                            ret = asset.Id + string.Empty;
                    }
                    break;
                case 3:
                    if (asset != null)
                    {
                        ret = "ASSETID URLENCODED";
                        if (col == 1)
                        {
                            string url = WebUtility.UrlEncode(asset.Id);
                            ret = url;
                        }
                    }
                    break;
                default:
                    ret = string.Empty;
                    break;
            }
            return ret;
        }

        if (tag is Submodel)
        {
            var sm = tag as Submodel;
            switch (line)
            {
                case 0:
                    ret = "ID";
                    if (col == 1)
                        ret = sm.Id + string.Empty;
                    break;
                case 1:
                    ret = "Semantic ID";
                    if (col == 1)
                    {
                        ret = "NULL";
                        var k = sm.SemanticId?.GetAsExactlyOneKey();
                        if (k != null)
                        {
                            ret = k.ToString();
                        }
                    }
                    break;
                case 2:
                    ret = getQualifiers(sm.Qualifiers, col);
                    break;
                default:
                    ret = string.Empty;
                    break;
            }
            return ret;
        }

        if (tag is Property)
        {
            var prop = tag as Property;
            ret += ", " + prop.Value;
            switch (line)
            {
                case 0:
                    ret = "Semantic ID";
                    if (col == 1)
                    {
                        ret = "NULL";
                        var k = prop.SemanticId?.GetAsExactlyOneKey();
                        if (k != null)
                        {
                            ret = k.ToString();
                        }
                    }
                    break;
                case 1:
                    ret = "Value Type";
                    if (col == 1)
                        ret = prop.ValueType + string.Empty;
                    break;
                case 2:
                    ret = "Value";
                    if (col == 1)
                        ret = prop.Value + string.Empty;
                    break;
                case 3:
                    ret = getQualifiers(prop.Qualifiers, col);
                    break;
                case 4:
                    ret = getUnit(item, prop, col);
                    break;
               default:
                    ret = string.Empty;
                    break;
            }
            return ret;
        }

        if (tag is Entity)
        {
            var e = tag as Entity;
            ret += ", " + e.EntityType;
            switch (line)
            {
                case 0:
                    ret = "Semantic ID";
                    if (col == 1)
                    {
                        ret = "NULL";
                        var k = e.SemanticId?.GetAsExactlyOneKey();
                        if (k != null)
                        {
                            ret = k.ToString();
                        }
                    }
                    break;
                case 1:
                    ret = "Entity Type";
                    if (col == 1)
                        ret = e.EntityType + string.Empty;
                    break;
                case 2:
                    ret = string.Empty;
                    if (e.GetEntityType() == EntityTypeEnum.SelfManagedEntity)
                    {
                        if (e.AssetRef != null)
                        {
                            ret = "Asset";
                            if (col == 1)
                            {
                                var k = e.AssetRef.Keys;
                                if (k != null)
                                {
                                    ret = k.ToString();
                                }
                            }
                        }
                    }
                    break;
                case 3:
                    ret = getQualifiers(e.Qualifiers, col);
                    break;
                default:
                    ret = string.Empty;
                    break;
            }
            return ret;
        }

        if (tag is File)
        {
            var f = tag as File;
            ret += ", " + f.Value;
            switch (line)
            {
                case 0:
                    ret = "Semantic ID";
                    if (col == 1)
                    {
                        ret = "NULL";
                        var k = f.SemanticId?.GetAsExactlyOneKey();
                        if (k != null)
                        {
                            ret = k.ToString();
                        }
                    }
                    break;
                case 1:
                    ret = "Value";
                    if (col == 1)
                        ret = f.Value;
                    break;
                case 2:
                    ret = getQualifiers(f.Qualifiers, col);
                    break;
                default:
                    ret = string.Empty;
                    break;
            }
            return ret;
        }

        if (tag is Blob)
        {
            var b = tag as Blob;
            switch (line)
            {
                case 0:
                    ret = "Semantic ID";
                    if (col == 1)
                    {
                        ret = "NULL";
                        var k = b.SemanticId?.GetAsExactlyOneKey();
                        if (k != null)
                        {
                            ret = k.ToString();
                        }
                    }
                    break;
                case 1:
                    ret = "MimeType";
                    if (col == 1)
                        ret = b.MimeType;
                    break;
                case 2:
                    ret = "Value";
                    if (col == 1)
                        ret = b.Value;
                    break;
                case 3:
                    ret = getQualifiers(b.Qualifiers, col);
                    break;
                default:
                    ret = string.Empty;
                    break;
            }
            return ret;
        }

        if (tag is Operation)
        {
            var op = tag as Operation;
            ret = op.IdShort;
            switch (line)
            {
                case 0:
                    ret = "Semantic ID";
                    if (col == 1)
                    {
                        ret = "NULL";
                        var k = op.SemanticId?.GetAsExactlyOneKey();
                        if (k != null)
                        {
                            ret = k.ToString();
                        }
                    }
                    break;
                case 1:
                    ret = "CountInputs";
                    if (col == 1)
                    {
                        ret = "0";
                        if (op.InputVariables != null)
                        {
                            ret = op.InputVariables.Count + string.Empty;
                        }
                    }
                    break;
                case 2:
                    ret = "CountOutputs";
                    if (col == 1)
                    {
                        ret = "0";
                        if (op.OutputVariables != null)
                        {
                            ret = op.OutputVariables.Count + string.Empty;
                        }
                    }
                    break;
                case 3:
                    ret = getQualifiers(op.Qualifiers, col);
                    break;
                default:
                    ret = string.Empty;
                    break;
            }
            return ret;
        }

        if (tag is RelationshipElement)
        {
            var r = tag as RelationshipElement;
            ret = r.IdShort;
            switch (line)
            {
                case 0:
                    ret = "Semantic ID";
                    if (col == 1)
                    {
                        ret = "NULL";
                        var k = r.SemanticId?.GetAsExactlyOneKey();
                        if (k != null)
                        {
                            ret = k.ToString();
                        }
                    }
                    break;
                case 1:
                    ret = "First";
                    if (col == 1)
                    {
                        ret = "NULL";
                        var k = r.First;
                        if (k != null)
                        {
                            ret = k.Keys.ToString();
                        }
                    }
                    break;
                case 2:
                    ret = "Second";
                    if (col == 1)
                    {
                        ret = "NULL";
                        var k = r.Second;
                        if (k != null)
                        {
                            ret = k.Keys.ToString();
                        }
                    }
                    break;
                case 3:
                    ret = getQualifiers(r.Qualifiers, col);
                    break;
                default:
                    ret = string.Empty;
                    break;
            }
            return ret;
        }

        if (tag is ReferenceElement)
        {
            var r = tag as ReferenceElement;
            ret = r.IdShort;
            switch (line)
            {
                case 0:
                    ret = "Semantic ID";
                    if (col == 1)
                    {
                        ret = "NULL";
                        var k = r.SemanticId?.GetAsExactlyOneKey();
                        if (k != null)
                        {
                            ret = k.ToString();
                        }
                    }
                    break;
                case 1:
                    ret = "Value";
                    if (col == 1)
                    {
                        ret = "NULL";
                    }
                    break;
                case 2:
                    ret = getQualifiers(r.Qualifiers, col);
                    break;
                default:
                    ret = string.Empty;
                    break;
            }
            return ret;
        }

        if (tag is MultiLanguageProperty)
        {
            var mlp = tag as MultiLanguageProperty;
            var ls = mlp.Value;
            for (int i = 0; i < ls.Count; i++)
            {
                ret += ls[i].Language + " ";
            }
            switch (line)
            {
                case 0:
                    ret = "Semantic ID";
                    if (col == 1)
                    {
                        ret = "NULL";
                        var k = mlp.SemanticId?.GetAsExactlyOneKey();
                        if (k != null)
                        {
                            ret = k.ToString();
                        }
                    }
                    break;
                case 1:
                case 2:
                case 3:
                case 4:
                    ret = string.Empty;
                    if (ls.Count > line - 1)
                    {
                        ret = ls[line - 1].Language;
                        if (col == 1)
                            ret = ls[line - 1].Text + string.Empty;
                    }
                    break;
                case 5:
                    ret = getQualifiers(mlp.Qualifiers, col);
                    break;
                default:
                    ret = string.Empty;
                    break;
            }
            return ret;
        }

        if (tag is SubmodelElement)
        {
            var sme = tag as SubmodelElement;
            ret = sme.IdShort + ", " + sme.SemanticId;
            switch (line)
            {
                case 0:
                    ret = "Semantic ID";
                    if (col == 1)
                    {
                        ret = "NULL";
                        var k = sme.SemanticId?.GetAsExactlyOneKey();
                        if (k != null)
                        {
                            ret = k.ToString();
                        }
                    }
                    break;
                case 1:
                    ret = getQualifiers(sme.Qualifiers, col);
                    break;
                default:
                    ret = string.Empty;
                    break;
            }
            return ret;
        }

        return (ret);
    }

    static string getQualifiers(List<Qualifier> q, int col)
    {
        string ret = string.Empty;

        if (q != null && q.Count > 0)
        {
            ret = "Qualifiers";
            if (col == 1)
            {
                ret = string.Empty;
                for (int i = 0; i < q.Count; i++)
                {
                    if (i != 0)
                        ret += ", ";
                    ret += q[i].Type + " ";
                    if (q[i].Value != string.Empty)
                    {
                        ret += "= " + q[i].Value;
                    }
                }
            }
        }
        return ret;
    }

    public string getUnit(TreeNodeData item, SubmodelElement se, int col)
    {
        string ret = string.Empty;
        if (se.SemanticId == null)
        {
            return ret;
        }

        var cd = _packageService.Packages[item.EnvKey].FindConceptDescription(se.SemanticId.Keys);
        if (cd != null)
        {
            var iec = cd.IEC61360Content;
            if (iec != null)
            {
                ret = "Unit";
                if (col == 1)
                {
                    ret = iec.Unit;
                    if (iec.UnitId != null && iec.UnitId.Keys != null && iec.UnitId.Keys.Count > 0)
                        ret += " (UnitId = " + iec.UnitId.Keys[0].ToString() + ")";
                }
            }
        }

        return ret;
    }
}
